%h2 Sentimos el error.
%p Mira debajo para ver que ha podido pasar:
%ul
  %li Email o contraseña no validos
%p
  Si el problema persiste, escríbenos
  = mail_to "adrian@periodismoalacarta.com", nil, :encode => "hex"