- @title = "Periodismoalacarta.com - Login"
- if login_failed?
  - content_for :error do
    %h2 Lo sentimos,
    %p Mira debajo para ver que ocurre:
    %ul
      %li ¿Pusiste un email incorrecto o cotnraseña equivocada?
      %li ¿Has activado tu cuenta? Debes activar el email de activación despues de registrarte. 
    %p
      Si el problema persiste escríbenos
      = mail_to 'adrian@periodismoalacarta.com', nil, :encode => "hex"
      %br
      Te contestaremos rápidamente. 

.block-padding
.login-boxer
  - form_tag session_url do
    .span-6.or_login
      %h3 ¡Gracias por unirte a nosotros!
      = link_to "NEW USERS: REGISTER HERE", new_user_path
      %br
      %span.small.quieter
        Si ya eres miembro - Login abajo.
      %br
      .double_content_border
      = render :partial => 'sessions/form'
      .clear
      .double_content_border
      .float_right
        %input{:type => 'image', :src=>'/images/login.png', :alt => "Login"}
  .clear
.block-padding

