.span-160.box_white
  %h3 Tienes una idea?
  .double_content_border
  %p Si tienes en mente una investigación pero no tienes la habilidad ni los recursos necesarios de un periodista, ve a la sección sugerir una investigación. Tu propuesta será publicada y será recogida por un periodista.
  .double_content_border
  .centered
    = link_to image_tag('create_a_tip.png'), new_tip_path
  .create_tip_spacer
  .block-spacer-negative
  %h3 Preguntas frecuentes
  .double_content_border
  %h4.title ¿Proponiendo un artículo?
  %p.alt-spotus
    Vas a proponer un reportaje. A través de Periodismoalacarta.com puedes conseguir financiación directamente de la comunidad.  
    El público es tu único y verdadero jefe, escribirás para ellos sin presiones y con total transparencia. Rellena los siguientes campos 
    para proponer tu artículo. 
    == #{link_to "Check our FAQ for for reporters", page_path("about") + "#faq_reporter"},

  %h4.title ¿Cuánto pedir por artículo?"
  %br/ 
  %p.alt-spotus
    Visita el
    == #{link_to "Contrato para reporteros", page_path("reporter_agreement")},
    esta lleno de sugerencias sobre los criterios que has de seguir para poner precio a un determinado artículo y sobre lo que se espera de ti como reportero 
    en Periodismoalacarta.com

  %h4.title ¿Que pasa despues?
  %p.alt-spotus 
    Llegamos a la etapa de financiación, hay que conseguir que la gente se interese por el tema propuesto We fundraise
    hasta el punto de querer financiarlo. Para ello empieza a bloggear y a contestar preguntas en la zona del artículo.
    Para cualquier cosa no dudes en contactarnos.
    = mail_to "adrian@periodismoalacarta.com", nil, :encode => "hex"
    
    
