.shared_progress_bar.progress_bar
  .quieter.small-spotus 
    ¡Reporteros!:
    %br/
    investigad sobre este tema!
  %p.small-spotus
    Tiene muchos
    %strong= number_to_currency(tip.total_amount_pledged)
    %br/
    seguidores interesados!