%h2 Mi cuenta

= render :partial => "myspot/nav"

.span-715.box_white
  = render :partial => "myspot/dashboard_nav"
  %table.tips
    %tr
      %th.tip_header Investigaciones sugeridas
      %th.created_header Creadas
      %th.pledges_header Comprometidas
      %th.actions_header Acciones
    %tr
      %td{:colspan => 4}
        .double_content_border
    = render :partial => "myspot/tips/tip", :collection => @tips, :spacer_template => "myspot/tips/tip_spacer"
  .double_content_border


.span-160.box_white
  = render :partial => "layouts/common_questions"
