.block-spacer
.box_white
  %h2 Contáctanos
  .double_content_border
  %p
    Estamos buscando reporteros en las distintas provincias de España. ¿Quieres ayudar como 
    programador? ¿Simplemente quieres hablar? Leemos todo e intentaremos responder
    a todo cuanto antes.
  %p
    = mail_to "adrian@periodismoalacarta.com", nil, :encode => "hex"
  %div{:style => "margin-bottom: 10em;"}
.block-spacer
.block-spacer
