%a{:name => "top"}
.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 Qué dicen de nosotros.....
  .double_content_border
  %p 
    Periodismoalacarta.com es una plataforma que puede ser usada por otros medios informativos.
    Aquí hay una lista de otros medios y organizaciones registrados en Periodismoalacarta.com
    con varios niveles de actividad. Nuestro contenido es ofrecido a ellos para que lo publiquen y conseguir mayor difusión
    e incluso realizan financiaciones para conseguir la noticia en exclusiva. 
    %ul
      
      
        

.block-spacer
      


