%a{:name => "top"}
.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 Donación rápida
  .double_content_border
  %p
    Quieres financiar esta nueva forma de hacer periodismo pero no tienes tiempo de navegar entre los artículos propuestos en periodismoalacarta.com para decidir con cual colaborar?
  %p
    Ahora puedes donar a determinados temas generales y nosotros prometemos que ese dinero irá destinado a investigaciones relacionadas con esos temas. 
  %p
    %ul
      %li
        Financiar
        == #{link_to "Medio ambiente", "http://periodismoalacarta.com/pitches/183"},        
      %li
        Financiar 
        == #{link_to "Educación", "http://periodismoalacarta.com/pitches/182"}, 
      %li
        Financiar   
        == #{link_to "Politica", "http://periodismoalacarta.com/pitches/184"}, 
  %p
    ¿No encuentras el tema en el que te gustaría donar? Háznoslo saber:
    = mail_to "adrian@periodismoalacarta.com", nil, :encode => "hex"

.block-spacer
.block-spacer
.block-spacer