%a{:name => "top"}
.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 Lectura obligada para todos los reporteros
  %h3 
    == #{link_to "También mira el FAQ para reporteros", page_path("about") + "#faq_reporter"},
  
  .double_content_border
  %p    
    Periodismoalacarta.com es un mercado de noticias en el que el público elige las noticias que quiere leer. 
    Sugerimos la siguiente guía para que los periodistas pueden determinar, en base a unas pautas, cuant opedir por
    realizar una investigación.
  %p
    %h3{:style => "color: red;"}
      %strong 
        1. Reportaje de investigación 
  %strong
    600€-1,400€ - La mayoría 1000€
    %br 
    Aproximadamente 60 horas de trabajo a una media de 10€-25€ dependiendo del nivel de experiencia. 
    %br 
      Fecha límite: Dos meses para recoger fondos; mes y medio dos meses para tener listo el reportaje.
  %p
    %ul
      %li 
        Implica investigar y realizar un reportaje comunicativo y original. 
      %li
        Requiere experiencia en el tema a tratar.
      %li
        La historia debe estar redactada claramente y bien organizada. 
      %li
        Realizar un Blogging sobre el trabajo del reportero y que amplie la información.  
      %li
        Material multimedia para hacer más rica la notica. 
      %li
        Proporcionar datos novedosos y gran cantidad de información.       
  %p
    %h3{:style => "color: red;"}
      %strong 
        2. Reportaje
  %strong
    400€-950€ La mayoría 550€  
    %br
    Aproximadamente 40 horas de trabajo a una media de 10€-25€ dependiendo del nivel de experiencia. 
    %br
    10 semanas para recoger fondos; un mes para tener listo el reportaje.
  %p
    %ul
      %li 
        Requiere de gran cantidad de entrevistas con expertos y personas implicadas.  
      %li
        Realizar un Blogging sobre el trabajo del reportero y que amplie la información.
      %li
        Material multimedia para hacer más rica la notica.
      %li  
        Requiere gran conocimiento en el tema a tratar.
      %li
        Proporcionar datos novedosos y gran cantidad de información.       
  %p
    %h3{:style => "color: red;"}
      %strong 
        3. Entrevista
  %strong
    350 €-500€, La mayoría 350€
    %br
    Aproximadamente 25 horas de trabajo a una media de 10€-25€ dependiendo del nivel de experiencia. 
    %br  
      Dos meses para recoger fondos; un mes para tener listo el reportaje.
  %p
    %ul
      %li
        La parte del Blogging será muy importante para financiar y para conocer las preguntas que la comunidad desea hacer. 
      %li
        Entrevista realizada en persona o a través del teléfono.
         

  %p
    %h3{:style => "color: red;"}
      %strong 
        4. Noticia de ampliación
  %strong 
    150 €-350€
    %br
    Aproximadamente 15 horas de trabajo a una media de 10€-25€ dependiendo del nivel de experiencia. 
    %br 
      Deadline: Un mes para financiar; dos semanas para tener listo el reportaje. 
  %p
    %ul
      %li
        No requiere habilidades especiales. 
      %li
        Ayuda a ampliar o completar una noticia. 
      %li
        Usa gran cantidad de links e información para poner en antecedentes. 
  
  
    %a{:name => "agreement"}
  %h2{:style => "color: red;"} Acuerdo entre Periodismoalacarta.com y el reportero
  %P  
    Nota: Esto no es el 
    == #{link_to "contrato legal", page_path("reporter_contract")}
    que los reporteros aceptan cuando proponen un artículo. Esto es para que queden claras las expectativas que Periodismoalacarta.com y el reportero 
    han de esperar en su futura relación de trabajo. 
  %p
  %h3{:style => "color: red;"}
    %strong 
      Periosmoalacarta.com se compromete a lo siguiente: 
  %ul
    %li
      Proporcionar asistencia técnica y otro tipo de asistencia que está en nuestras manos. 
    %li
      Estar disponibles para consultas relacionadas con tu artículo. 
    %li  
      Promocionar tu artículo para conseguir colaboradores económicos. 
    %li
      Periosmoalacarta.com financiará determinados artículos en los que esté interesado. 
    %li
      Asignar un editor que asista al reportero. El editor se llevará el 10% de la financiación. 
    %li
      Hacer llegar el dinero recogido al reportero y al editor como pago por el reportaje. 
      

  %h3{:style => "color: red;"}
    %strong 
      Los reporteros están de acuerdo con los siguientes puntos:
  %ul
    %li
      Mantener una frecuente comunicaciñon con Periodismoalacarta.com.
    %li
      Escribir en el blog como avanza la investigación.
    %li  
      Ayudar a promocionar la historia tanto online como fuera de internet. 
    %li
      Acepta realizar un posible video con propositos de promocionar el reportaje. 
    %li
      Trabajar en equipo con un editor asignado. El reportero puede rechazar hasta dos editores, el tercero seré impuesto. 
    %li
      Bajo aceptación de los términos de pago (el dinero conseguido) acepta realizar un trabajo preciso, veraz, y dentro de los límites de tiempo. 
    
  %p
   
