- @title = "Periodismoalacarta.com - Artículos publicados"

- unless @stories.blank?
  = render :partial => @stories
  = will_paginate @stories
- else
  .box_white
    %p
      Acualmente no tenemos ningún artículo publicado pero puedes ayudarnos financiando
      investigaciones que te interesen. Puedes mirar las investigaciones propuestas aquí: 
      = link_to "Fund A Story.", news_items_path

.block-spacer
