- unless @tip.errors.empty?
  - content_for :error do
    = error_messages_for :tip

- @title = "Periodismoalacarta.com - Edita tu investigación"
.block-spacer
%h3 Editar la investigación que has sugerido. 

#equalize
  -# first column content
  .span-715.box_white
    = render :partial => 'form'

  -# second column content
  = render :partial => 'sidebar'
.clear
.block-spacer

